docx==0.2.4
docx2txt==0.9
faiss-cpu=1.10.0
langchain==0.3.22
langchain-community==0.3.20
langchain-core==0.3.75
langchain-experimental==0.3.4
langchain-openai==0.3.30
langchain-teddynote==0.3.45
langchain-text-splitters==0.3.7
langgraph==0.3.21
langgraph-checkpoint==2.0.25
langgraph-prebuilt==0.1.7
langgraph-sdk==0.1.60
mammoth==1.10.0
pdfplumber==0.11.6
python-docx==1.2.0
tabulate==0.9.0
tavily-python==0.5.3
